@font-face {
    font-family: Mate;
    src: url(font/Matemasie-Regular.ttf);
}

body {
    /* Added a background image for the page */
    background-image: url("images/background.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* navigation bar */
.nav-item .active {
    /* Change the color of the "activated" section on the nav bar */
    background-color: #007bff;
    color: white;
}

.navbar ul {
    list-style: none;
    background-color: hsl(0, 0%, 25%);
    overflow: hidden;
}

.nav-link:hover {
    text-decoration: none;
}

.navbar a {
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar li {
    float: left;
}

.navbar li:hover {
    background-color: white;
}

/* --------------------------- */
.col-md-8 h3 {
    font-family: Mate, "Lilita One", verdana, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
}

.card-body {
    margin-top: 10px;
}

.card-body a {
    text-decoration: none;
    margin-left: 15px;
}

#Experience a {
    color: hsl(330, 100%, 45%);
    text-decoration: none;
}

#Experience a:hover {
    color: hsl(330, 100%, 34%);

}

#studies a {
    color: hsl(140, 100%, 50%);
    text-decoration: none;
}

#studies a:hover {
    color: hsl(140, 100%, 42%);
}

#interests a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

#interests a:hover {
    color: hsl(0, 0%, 90%);
}

#interests a:active {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
}

footer h2 {
    padding-top: 50px;
}

footer {
    font-size: 1.2em;
    padding-bottom: 50px;
}

/*=============== Media Queries =========== */
/* Mobile phones :( */
[class*="col-"] {
    width: 100%;
}

/* Tablets :| */
@media only screen and (min-width: 600px) {


    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

/* desktop :D */

@media only screen and (min-width: 768px) {

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}